.services-container{
    margin-top: 4em;
}
.service-type-col{
    padding: 1em 1em 1em 1em;
}
.services-type-container{
    padding: 1em 1em 1em 1em;
    text-align: center;
}
.services-type-icon{
    font-size: 3.5em;
    margin-bottom: .2em;
}
.services-type-heading{
    font-size: 1.5em;
    margin-bottom: .5em;
}